.textContent {
    padding-bottom: 20px;
}

.textNormal {
    font-size: 16px;
    text-align: justify;
    width: '100%';
    padding-top: 30px;
    
}

.photoBorder {    
    border-radius: 4px;
    margin-top: 5px;      
}

.linkPage {
    color: #2979ff;
    font-size: 16px;
    margin-right: 12px;
    text-decoration: none;
}