.header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    width: 100%;
    padding: 1.5%;
    height: 200px;
    background-color: #191970;
    color: #fff;
}